<h1>About Us</h1>
	<div id="AboutUs">
		<p>
			<h2>About The Company</h2>
				<h3>The Founders</h3>
				<p><span>
				DainTea Couture was founded in Dublin in 2013 by a mother and daughter passionate about tea and the finer things in life.
				There's just nothing quite like a cup of tea from a pretty china cup! After years and years of collecting antique, vintage and pre-loved tea sets and crockery we ran out of storage space at home for all of these wonderful finds! 
				</span></p>
				
				<p><span>
				Then mum had a bright idea - she decided to set up a stand at local farmers markets and attend craft fairs. This enabled her to showcase & sell her beautiful collection and since stock was selling well, she could also keep up her hobby - buying more tea sets in antique & charity shops! Finally, in 2013, Aislinn (that's me!) decided to but her newly acquired web design skils to good use and set up the company website during Christmas 2013.
				</span></p>
		</p>
		
	</div>
